<div class="row">
  <div class="col-md-12">
    <h4>Student Details</h4>
  </div>
</div>
<hr>
<div class="row">
<div class="col-md-6">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sno</th>
      <th scope="col">Id</th>
      <th scope="col">Email</th>
      <th scope="col">UserName</th>
      <th scope="col">Password</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let users of user;index as id">
      <td>{{id+1}}</td>
      <td>{{users.id}}</td>
      <td>{{users.email}}</td>
      <td>{{users.username}}</td>
      <td>{{users.password}}</td>
      <td><button class="btn btn-info">Edit</button></td>
      <td><button class="btn btn-danger">Delete</button></td>
    </tr>
  </tbody>
</table>
</div>
</div>