
<table class="table">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Tel</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let student of students;let i=index">
     <td>{{student.fname}}</td>
     <td>{{student.lname}}</td>
     <td>{{student.tel}}</td>
    <td><button class="btn btn-info" (click)="getStudent(student)">Edit</button></td>
    <td><button class="btn btn-danger" (click)="deleteStudent(i)">Delete</button></td>

   </tr>
  </tbody>
</table>